/*
Theme Name: design_bank
Theme URI: https://design_bank.com
Author: Holger Koenemann
Author URI: https://www.holgerkoenemann.de
GitHub Theme URI: https://github.com/design_bank/design_bank
Description: Combination of Automattic´s _s theme and Bootstrap 4. Made as a solid starting point for your next theme project and WordPress website. Use it as starter theme or as a parent theme. It is up to you. Including Font Awesome support, built-in widget slider and much more you need for basic websites. IMPORTANT: All developer dependencies are not bundled with this install file. Just download the .zip, extract it and run "npm install" and "gulp copy-assets" inside the extracted /design_bank folder.
That downloads everything and moves it in place so that you can recompile your CSS and JS files;
A developer version (with Gulp/node and Sass sources) is available on gitHub: https://github.com/design_bank/design_bank
A child theme is available on Github, too: https://github.com/design_bank/design_bank-child;
Version: 0.9.4
License: design_bank WordPress Theme, Copyright 2013-2017 Holger Koenemann
design_bank is distributed under the terms of the GNU GPL version 2
License URI: https://www.gnu.org/licenses/gpl-2.0.html
Text Domain: design_bank
Tags: one-column, custom-menu, featured-images, theme-options, translation-ready

This theme, like WordPress, is licensed under the GPL.
design_bank is based on Underscores https://underscores.me/, (C) 2012-2016 Automattic, Inc.

Resource Licenses:
Font Awesome: http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
Bootstrap: https://getbootstrap.com | https://github.com/twbs/bootstrap/blob/master/LICENSE (Code licensed under MIT, documentation under CC BY 3.0.)
and of course
jQuery: https://jquery.org | (Code licensed under MIT)
WP Bootstrap Navwalker by Edward McIntyre: https://github.com/twittem/wp-bootstrap-navwalker | GNU GPL
*/

/*
This file is just used to identify the theme in WordPress.
The compiled CSS output can be found in /css/theme.css
The SASS sources for it can be found in /sass/
The dependencies can be found in /src/ after running "gulp copy-assets" terminal command

...and now go out and play!
*/
img {
    width: 100%;
    height: auto;
}

div#sport_section h1 {
    display: none;
}

.menu-new-menu-container {
    width: 22%;
}

.nav>.active>a, .nav>.active>a:hover, .nav>.active>a:focus {
    color: #fff;
}
a.nav-link {
    background: #ffd006;
    border: none;
    padding: 5px 25px;
    border-radius: 4px;
    font-weight: 400;
    margin-top: -14px;
    margin-right: 15px;
    font-size: 15px;
}

.nav>.active>a, .nav>.active>a:hover, .nav>.active>a:focus {
    color: #000;
}

body.login {
    background: #000!important;
}

form.searchandfilter ul {
    list-style: none;
    display: -webkit-inline-box;
}

form.searchandfilter ul li {
	margin: 0 5px;
}


input[type="submit"] {
    background: #ffd006;
    border: none;
    padding: 7px 25px;
    border-radius: 4px;
    font-weight: 400;
}
div#sport_section {
    padding-top: 45px;
}
.nk-layout .nk-layout-top-right {
    top: 40px;
    right: 140px;
    z-index: 11;
}

input[type="text"]{
    padding: 6px 12px;
    border-radius: 5px;	
	    border: none;
}


.nk-layout-top-right_bottom img {
    max-width: 100px;
}
.nk-layout-top-right_bottom {
    position: absolute;
    bottom: 47%;
    right: 5%;
}

 .nk-layout-top-right_bottomp p{
    margin-bottom: 0;
}

#main-nav .container {
	    max-width: 1275px;
}

