/* PLACE YOU CUSTOM STYLES IN THIS FILE */
.nk-layout-top-center {

    top: 0px;
    z-index: 4;
    background: #00000040;
    padding: 15px 0;
}

.nk-layout .nk-layout-top-center {
    top: 0;
    left: 0;
    z-index: 4;
}

.nk-layout .nk-layout-top-left {
    top: 70px;
    left: 70px;
    z-index: 7;
}

.nk-layout .nk-layout-bottom-center {
    bottom: 35px;
    left: 48%;
    margin-left: 0;
    z-index: 9;
}

.nk-nav ul a {
    color: inherit;
    text-decoration: none;
    color: #fff;
}

.nk-layout .nk-layout-top-left {
    top: 40px;
    left: 140px;
    z-index: 7;
}

.nk-layout-top-left  img {
    max-width: 140px;
}


.nk-layout-top-center {
    top: 0px;
    z-index: 4;
    background: #00000040;
    padding: 15px 0 30px;
    width: 100%;
}

.nk-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: -11.5px;
    margin: auto;
    left: 20%;
    width: 100%;
    position: absolute;
}

.nk-layout-bottom-center ul {
    position: relative;
}